nav.navbar.navbar-dark.bg-dark
 
    a.navbar-brand(href='#') Bosh sahifa
    a.navbar-brand(href='/create') Malumotlarni qo'shish
    a.navbar-brand(href='#') Malumotlar bilan tanishish 
    a.navbar-brand(href='#') Shaxsiy kabinet
    a#navbarScrollingDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
      | Link
    ul.dropdown-menu(aria-labelledby='navbarScrollingDropdown')
      li
        a.dropdown-item(href='/unversted') Unverstedlar
      li
        a.dropdown-item(href='/fakulted') Fakultetlar
      li
        a.dropdown-item(href='/gruh') Gruhlar
      li
        a.dropdown-item(href='/fan_oqtuvchilari') Fan O'qtuvchilari 
      li
        a.dropdown-item(href='/talaba_fan') Talaba Fanlar bo'yicha
      li
        a.dropdown-item(href='/talaba_sh') Talaba Shaxsiy